
.contai-view {
    width: 500px;
}
#contai-list-head {
    background-color: darkorange;
    font-family: "kanit";
    color: white;
    text-align: center;
}
#contai-list {
    text-align: center;
    margin-top: 20px;
}
#not-item {
    margin: 20px;
    text-align: center;
    font-family: 'kanit';
}