
.contai-view {
    width: 100%;
    padding: 5%;
    background-color: white;
}
#contai-list-head {
    background-color: darkorange;
    font-family: "kanit";
    color: white;
    text-align: center;
}
#contai-list {
    text-align: center;
    margin-top: 20px;
}
#not-item {
    margin: 20px;
    text-align: center;
    font-family: 'kanit';
}
#cart-image {
    margin: 100px;
    justify-content: center;
    align-items: center;
}
#table-cart { 
    width: 500px;
}