.table-head {
    background-color: darkorange;
    border-color: darkorange;
    font-family: "kanit";
}
th{
    color: white;
    text-align: center;
}
td{
    text-align: center;
}
td h4{
    text-align: right;
    color: azure;
    margin-right: 10%;
}
tfoot{
    background-color: darkgray;
}
.image-in-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 150px;
}