.contai-table {
    margin : 30px;
}
.table-style {
    width: auto;
    max-width: 500px;
}
/* #row1 {
    background-color: lightgreen;
}
#row2 {
    background-color: lightgoldenrodyellow;
}
#row3 {
    background-color: lightblue;
} */