.ligthbox-style {
    display: flex;
    flex: 1;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.ligthbox-style2 {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: black;
}
.carousel-item {
    
    justify-content: center;
    align-items: center;
}
#contai {
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    grid-gap: 5px;
    max-width: 1080px; */
    column-count: 3;
    column-gap: 0;
    max-width: 1080px;
}
#contai-carousel {
    display: flex;
    align-items: center;
    width: 65%;
    background-color: red;

}   
#contai-tabs {
    width: 35%;
    flex: 1;
    align-content: flex-end;
    background-color: white;
}
.container-isload {
    display: flex;
    justify-content: center;
    align-items: center;
}
#contai-timer { 
    display: flex;
    position: absolute;
    background-color: grey;
    top: 10px;
    left: 20px;
    border-radius: 5px;
    opacity: 0.9;
    padding: 5px;
}
#timer {
    color: white;
}
#contai-img{
    margin-bottom: 5px;
    break-inside: avoid;
}
#contai-img2{
    margin-bottom: 5px;
}

.modal-custom {
    display: block;
    width: 1280px;
    height: 100%;
}

.customStyles {
    top: '50%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%, -50%)';
}
#btn-caption {
    display: flex;
    flex: 1;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'kanit';
    /* margin : 20px; */
}
#contai-caption {
    width: 300px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-right: 20px;

}
#btn-buy {
    width: 280px;
    max-width: 500px;
    align-items: center; 
}
.no-suggest {
    margin: 50px;
}
.detail-img-tab{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
