.seach-haeder {
    margin-top: 30%;
    padding: 20px;
    opacity: 2;
}

.text-seach {
    padding-top: 5%;
    color: white;
}

.input-seach {
    padding: 20px;
    width: 50%;
    left: 25%;
    position: relative;
}

.btn-goevent {
    margin-top: 5%;
    margin-bottom: 5%;
}

.hr-style1 {
    border: #fcac45 1px solid;
    width: 50%;
}

.hr-style2 {
    border: 1px solid;
    width: 50%;
}