.titleText {
    color: aquamarine;
}

.content {
    /* margin-top: 10%;
    margin-bottom: 25%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.card-items {
    /* margin-top: 10%;
    margin-bottom: 25%; */
}
.cards-title{
    padding: 20px;
    background-color: darkorange;
}
.row-style {
    width: 600px;
}
.img-view {
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#img-worker {
    width: 325px;
    max-width: auto;
    height: auto;
    max-height: 400px;
}
.img-ligth {
    margin: 20px;
    height: 100%;
}
.tab-ligth {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 500px;
    height: 100%;
}
#card-tab{
    position: absolute;
    display: flex;
    flex: auto;
    
}
.click-full {
    justify-content: flex-end;
    flex: 0;
    display: flex;
    position: absolute;
}
.icon-full {

}
#icon-close {
    font-size: 30px;
}
.close-click {
    display: flex;
    position : absolute;
    right: 50px;
    top : 20px;
}
.ligthboxTab-style {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.btn-buy {
    margin: 20px;
}
#text-buy{
    font-family: 'kanit';
    margin-left: 10px;
}