.table-head {
    background-color: #101010;
    border-color: #101010;
}

th {
    color: white;
    text-align: center;
}

td {
    text-align: center;
}

td h4 {
    text-align: right;
    color: azure;
    margin-right: 10%;
}

tfoot {
    background-color: #101010;
}

.image-in-cart {
    margin: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1
}
.img-buy {
    width: 200px;
    height: 200px;
}

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.icon-del {
    justify-content: center;
    align-items: center;
    
}

.detail-in-cart {}