.table-head {
    background-color: #101010;
    border-color: #101010;
}
th{
    color: white;
    text-align: center;
}
td{
    text-align: center;
}
td h4{
    text-align: right;
    color: azure;
    margin-right: 10%;
}
tfoot{
    background-color: #101010;
}
.image-in-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.detail-in-cart {
    
}