.text-copyrigth {
    justify-content: center;
    align-self: center;
    color: #fff;
}
.logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.guurun-logo {
    margin: 5px;
    height: 20px;
}
  
.i-bitz-logo {
    margin: 5px;
    height: 30px;
}