.label-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.form-register {
    padding: 5%;
}
#btn-submit {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}