.label-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.form-register {
    padding: 5%;
}
#btn-submit {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.crad-status-payment{
    padding: 100px;
    text-align: center;
}
#status-payment {
    color: green;
}
#status-payment-error {
    color: red;
}
.modal-status { 
    border-radius: 5%;
}