.search-input {
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.search-input>input {
    width: 100%;
    font-size: 16px;
    border: none;
    position: relative;
}

.search-input>input:focus {
    outline: none;
}

.list {
    padding: 5px;
}

.list-items {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    
}